{% extends "base.html" %}
{% block title %}Flag Tracker{% endblock %}
{% block content %}
<style> 
.userlist {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}
.flagtotal {
  font-size: 70%;
  color: #555;
}
</style>
<div class="clear">
  <h3 class="inline"><a href="/longflags">Long Flags</a></h3> | <h3 class="inline"><a href="/audioflags">Winamp Flags</a></h3> | <h3 class="inline"><a href="/spammed">Spammed Flags</a></h3> | <h3 class="inline"><a href="/latest">Latest Flags</a>:</h3>
</div>
<br>
<div class="clear">
{% for flag in flags %}
<img title="Flag #{{flag.flagid}} proudly brought to you by &quot;{{flag.username}}&quot; on {{flag.created}}" src="http://fi.somethingawful.com/flags{{flag.path}}?by={{flag.username}}">
{% endfor %}
</div>
<br>
<div class="userlist">
{% for user in users %}
<div><a href="/user/{{user.userid}}">{{user.username}}</a> <span class="flagtotal">{{user.count}}</span></div>
{% endfor %}
</div>
<br>
<div class="centertext">
Tracking <strong>{{count}}</strong> flags (<strong>{{unique}}</strong> unique)
</div>
{% endblock %}
